IMMICH_URL=http://external-immich:2283
IMMICH_API_KEY=APIKEY
ALBUM_ID=ALBUMID,ALBUMID2
CAROUSEL_DURATION=5
CSS_BACKGROUND_COLOR=#000000
RANDOM_ORDER=false # true/false
STATUS_BAR_STYLE=black-translucent # default, black, black-translucent
IMAGES_ORIENTATION=all # landscape, portrait, all
CROP_TO_SCREEN=true # true/false
IMAGE_QUALITY=preview # preview (recommended), fullsize